* {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    transition: 0.5s ease;
    margin: 0;
}

body {
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #0055ff;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.logo {
    width: 200px;
}

footer {
    padding: 50px 100px;
    text-align: center;
}

section {
    padding: 30px 100px;
    text-align: left;
}

section .title {
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    letter-spacing: -0.05em;
    line-height: 1;
    text-transform: uppercase;
    color: #000000;
}

#slideshow {
    margin-top: 8vh;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
}

#slideshow .slide {
    position: absolute;
    inset: 0;

    background-size: cover;
    background-position: center;

    opacity: 0;
    transition: 1s ease;
}

#slideshow .slide.active {
    opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    font-style: italic;
    letter-spacing: -0.05em;
    line-height: 1;
    text-transform: uppercase;
}

#hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero .logo {
    width: 600px;
    margin-bottom: 10px;
}

#hero h1 {
    font-size: 3rem;
}

.works-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.work-card {
    background: #f8f8f8;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-card img {
    width: 70%;
}

.work-card img:hover {
    width: 80%;
}

a {
    color: #0055ff;
    text-decoration: none;
    font-weight: 700;
}

.partners-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.partner-card {
    background-color: #f8f8f8;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-card img {
    max-width: 70%;
    object-fit: contain;
}

.partner-card img:hover {
    max-width: 80%;
}

.social-link a {
    padding: 0 10px 10px;
    font-size: 2rem;
}